* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow: hidden;
    background: url('../img/1234567.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5% 0;
    background: rgba(255, 255, 255, 0.8);
    color: #661616;
}

.title {
    font-size: 60px;
    margin: 10px 0;
    font-size: 50px;
    margin: 0;
    animation: title 1s alternate infinite;
    -webkit-animation: title 1s alternate infinite;
}
@keyframes title {
    0% {
        color: #149b0f;
    }

    100% {
        color: #6e6e6e;
    }
}

.subtitle {
    font-size: 50px;
    margin: 0;
    animation: subtitle 1s alternate infinite;
    -webkit-animation: subtitle 1s alternate infinite;
}

@keyframes subtitle {
    0% {
        color: #01035c;
    }

    100% {
        color: #8f8f8f;
    }
}

.block {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 80%;
    height: 90%;
}

.img__pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.img_air {
    animation: air 5s infinite alternate;
    -webkit-animation: air 5s infinite alternate;
}

@keyframes air {
    0% {
        transform: rotate(0deg) scale(0.1);
        
    }

    10% {
        transform: rotate(0deg) scale(0.1);
    }

    80% {
        transform: rotate(45deg) scale(1);
    }  

    100% {
        transform: rotate(45deg) scale(1);
      
    }
}

.img_soldat {
    animation: soldat 1,5ms infinite alternate 1,5ms;
    -webkit-animation: soldat 2s infinite alternate 1s;
}

@keyframes soldat {
    0% {
        opacity: 0;
       
        
    }

    100% {
        opacity: 1;      
    }
}


.bottom {
    height: 40%;
}